/* ------------------------------------------------media------------------------------------------------------------------------------------------------------- */




@media screen and (max-width : 600px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100%;

    }

    html,
    body {

        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;



    }



    /* header */

    #myheader {

        /* height: 10vh; */
        height: 20vh;
        width: 95vw;
        margin-bottom: 10vh;

        /* border: 2px solid white; */
        border: none;
        flex-direction: column;

    }

    #mylogo {
        justify-content: center;
        height: 50vh;
        flex-direction: column;
        /* border: 2px solid white; */
        align-items: center;
        width: 95vw;
        height: 40vh;
        margin-bottom: 5vh;
    }

    #mylogo img {

        width: 27vw;
        height: 10vh;

    }

    #mylogo h2 {
        padding: 2vh 0vw;

    }

    #name {
        text-align: center;

    }



    #navbar {
        position: relative;
        margin-top: -5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 50vh;
    }

    #navbar a {
        /* border: 2px solid white; */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        width: 17vw;
        font-size: 1rem;
        padding: 10px 10px;
        margin-left: 3vw;
        /* border-radius: 10px 10px; */

    }


    #navbar :nth-child(4) {
        display: none;
    }

    #navbar a:hover {

        border-bottom: 2px solid white;
        /* background-color: #ff004f; */
        color: white;
        /* border-radius: 10px 10px; */
    }




    #home_text {
        /* border: 2px solid white; */
        position: relative;
        width: 24vw;
        padding: 20px 30px;
        display: block;
        color: white;
        font-size: 1em;

    }

    #home_text h2 {
        font-size: 1.9rem;
        margin: 20px 0px;
        font-family: 'Quicksand';
    }

    /* MAIN CONTENT === */

    #main_content {
        display: flex;
        justify-content: center;
        margin: 35px;
        /* border: 2px soid white; */

    }

    #con {

        /* border: 2px solid white; */
        position: relative;
        align-items: center;
        margin-top: 10 vh;
        height: 50vh;
        justify-content: center;

    }


    #con2 {
        margin-top: 20px;
        width: 50vw;
        height: 20vh;
        display: none;
    }

    /* home text */

    #home_text {
        width: 95vw;
        height: 40vh;
        margin: 60px 5px;
        padding: 10px 5px;
        padding-left: 30px;
        display: block;
        color: white;
        font-size: 5px;
        /* text-overflow: clip; */
        align-items: center;
        /* display: none; */
        margin-top: -5vh;
    }

    #home_text h2 {
        width: 80vw;
        /* border: 2px soid white; */
        font-size: 1.8rem;
        font-weight: 800;
        margin: 10px, 0px;
    }

    #home_text h2:hover {
        cursor: pointer;

    }

    #home_text p {
        font-size: 1rem;
        padding-bottom: 15px;
        text-overflow: clip;

    }



    .top_button {

        width: 65vw;
        height: 8vh;
        margin-top: 5vh;

    }


    .top_button a {
        background-color: #ff004f;
        /* margin: 50px 20px; */
        padding: 10px 15px;
        /* padding: 20px 20px; */
        padding-bottom: 12px;
        border-radius: 50px;
        border: 2px solid white;
        box-shadow: 0.5px 0.5px 4px 2px white;
        font-family: 'Concert One', sans-serif;
        font-weight: 20;

    }


    .top_button :hover {
        background-color:black;
        cursor: pointer;
    }

   .top_button :active{
      transform:scale(0.7);
   }

    /* =====================================================================about============================================================ */


    /* about container/ */


    #About_container {
        width: 100%;
        height: 100%;
        /* border: 2px solid white; */

    }

    .About_Me {
        font-size: 1.5rem;
        text-align: center;
    }

    .about_me_text p {
        width: 90vw;
        margin: auto;
        text-align: center;
        margin-top: 5vh;
        font-family: 'Dancing Script';
        letter-spacing: 2px;

    }

    .content {
        /* border: 2px solid white; */
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
    }

    .content_left {
        margin-top: 10vh;
        /* border: 2px solid white; */
        width: 40vw;
        height: 20vh;
    }

    .content_left img {
        position: relative;
        border: 2px solid white;
        box-shadow: 2px 2px 10px 5px white;
        border-radius: 2000px;
        width: 35vw;
        height: 16vh;
        margin: 60px 0px;
    }

    .content_right {

        /* border: 2px solid white ;    */
        height: 70%;
        width: 90%;
        text-align: justify;
        margin-top: -15vh;

    }

    .content_right ul span {
        font-size: 1rem;
        color: #6fd649;
    }

    .content_right ul li {
        margin: 20px 0px;
        list-style: none;
        color: white;
        font-size: 0.8rem;
        /* border: 2px solid white; */
    }

    .btn_box {
        display: flex;
        justify-content: space-around;
    }


    .btn_box button {
        cursor: pointer;
        width: 30vw;
        height: 3vh;
        background-color: black;
        border: 2px solid white;
        border-radius: 50px;
    }

    /* ----------------------------------------Services------------------------------ */


    #MyWork h2 {

        text-align: center;
        /* width: 90vw; */
        font-size: 1.4rem;
        margin-top: 12vh;
        padding: 0px 20px;
        color: white;
        margin-bottom: -3vh;

    }

    .services_content {
        width: 95%;
        position: relative;
        padding: 25px;
    }

    .services_content p {
        display: none;
        /* width: 90vw; */
        margin: auto;
        text-align: center;
        margin-top: 3.4vh;
        font-family: 'Dancing Script';
        letter-spacing: 2px;
        font-size: 1rem;
        line-height: 2.4vh;


    }

    .services {
        /* border: 2px solid yellow;    */
        height: 150vh;
        margin-bottom: 10vh;
        width: 99vw;
        display: flex;
        flex-direction: column;

    }

    .containers {


        border-radius: 15px;
        padding: 15px;
        height: 30vh;
        width: 80vw;
        box-shadow: 5px -5px 25px;
        background-color: #262626;
        transition: background 0.9s, transform 0.5s;
        margin: auto;
        margin-top: 5vh;
        margin-bottom: 5vh;

    }




    .containers h3 {
        font-size: 1.5rem;
        text-align: center;

    }


    .containers p {
        font-size: 1.2rem;
        width: 70vw;
        text-overflow: clip;
        display: block;
        margin: auto;
        color: white;
        padding-top: 20px;
    }

    .containers a {
        font-size: 1.1+rem;
        font-family: Geneva;
        text-align: center;
        justify-content: center;
        display: block;
        padding-top: 30px;
        color: white;
        animation: colorChange 1s infinite;
    }

    @keyframes colorChange {

        30% {
            color: yellow
        }

        50% {
            color: white;
        }

        70% {
            color: yellow;
        }
    }


    .containers:hover {
        background-color: #ff004f;

    }


    /* ---------------PORTFOLIO-------------------- */

    .works {
        height: 5vh;
        width: 100vw;
        border: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


    }

    .works h2 {
        margin-bottom: 5vh;
    }



    .works h2 {
        font-size: 25px;
        text-align: center;
        padding: 10px;
        padding-bottom: 20px;

    }

    .project_size {
        /* border: 2px solid yellow; */
        height: 160vh;
        width: 99vw;
        display: flex;
        justify-content: space-evenly;
    }

    .proj {
        height: 22vh;
        width: 80vw;
        margin: 5vh 0vw;
        border: 2px solid white;
        cursor: pointer;

    }

    .Front_end_project h3 {
        position: relative;
        text-align: center;
        top: 105%;
    }

    .Front_end_project h3 a {
        text-decoration: none;
        font-family: 'DM Sans', sans-serif;
        font-size: 1.1rem;
        font-weight: 100;
        color: yellow
    }

    .photography_heading h2 {
        /* border: 2px solid white; */
        text-align: center;
        width: auto;
        font-family: cursive;
        margin-top: 2vh;
    }

    .photograph {
        display: flex;
        /* justify-content: space-between; */
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        height: 300vh;
        /* border: 2px solid yellow; */
    }

    .image_all {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 300vh;
        width: 95vw;
        margin-top: 4vh;
        border: none;

    }

    .clicks {
        height: 30vh;
        width: 90vw;
        margin-top: 10px;

    }

    .image_big {
        display: none;
        /* border: 2px solid white; */
        height: 45vh;
        width: 95vw;
        background-size: 100% 100%;
        animation: slider 30s infinite linear;
        /* position:relative; */
        top: 20px;
    }


    .sketch_heading h2 {
        text-align: center;
        margin-top: 2vh;
        font-size: 2rem;
        width: auto;
        font-family: 'Sevillana', cursive;
    }


    .sketch_works {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }


    .sketch_all {

        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 110vh;
        width: 95vw;
        position: relative;
        top: 30vh;
    }


    .drawing {
        height: 22vh;
        width: 38vw;
        border: 1px solid white;

    }




    .sketch_big {
        position: relative;
        border: 2px solid white;
        top: -120vh;
        display: flex;
        width: 95vw;
        height: 30vh;
        justify-content: center;
        align-items: center;
    }

    .sketch_video {

        width: 80vw;
        height: 20vh;
        background: 100% 100%;

    }


    /* =================================contact================ */



    #contact_me h2 {
        width: 250px;
        font-size: 1.3rem;
        margin: auto;

    }


    .logos a {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-right: 4vw;
        margin-left: 4vw;
        /* width: 50vw; */
        /* border: 2px solid whitesmoke; */
    }

    .storage {
        /* border: 2px solid yellow; */
        margin-left: 3vw;
        display: flex;
        flex-direction: column;
        /* align-items: flex-start; */
        /* flex-wrap: wrap; */
        width: 95vw;
        height: 90vh;
        justify-content: center;
        color: white;
        /* font-size: 2.3rem; */


    }



    /* =--------------------------left ------------------------- */






    #left {
        /* border: 2px solid white; */
        display: flex;
        justify-content: flex-start;
        align-items:center;
        flex-direction: column;
        margin-top: 2vh;
        width: 90vw;
        


    }

    #left img {
        height: 35px;
        width: 35px;
    }

    #mobno {
        display: flex;

    }

    #mobno p {
        font-family: 'Quicksand', sans-serif;
        margin-left: -35vw;
        font-size: 16px;
    }

    #mail {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }



    #mail a {
        cursor: pointer;
        text-decoration: none;
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
        margin-left: -35vw;
    }

    #address {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }



     #address p {
        text-align: center;
        width: 80vw;
        font-size: 0.8rem;
        position: relative;
        margin-left: -32vw;
        font-size: 14px;

    } 


    .storage div {
        margin: 6px;
    }



    .logos {
        display: flex;
        width: 25px;


    }



    .logos img {
        margin: 2px;
        padding: 2px 5px;
    }




    .buttonCV a {

        margin-left: 2vw;
        margin-top: 2vh;
        font-size: 0.8rem;
        border: 2px solid white;
        background-color: #ff004f;
        padding: 10px;
        color: white;
        text-decoration: none;
        transition: background 0.2s, transform 0.5s;

    }

    .buttonCV a:hover {
        background-color: #61b752;
    }



    .button:active {

        transform: scale(0.8);
        background-color: #ff004f;
        color: white;

    }


    .popup {
        width: 120px;
        height: 120px;
        background: #fff;
        border-radius: 9px;
        position: sticky;
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        color: black;
        /* visibility: hidden; */
        transition: transform(0.4s, top 0.4s);
        bottom: 30%;

    }

    .open-popup {
        visibility: visible;
        transform: translate(10%, 10%) scale(1);
        transition: 0.4s;
    }

    .popup img {
        width: 80px;
        margin-top: -60px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    }

    .popup h2 {
        color: black;
        font-size: 18px;
        font-weight: 600;
        margin: 5px 0 10px;
    }

    .popup p {
        color: black;
        font-size: 10px;
        font-weight: 500;
        margin: 5px 0 10px;
    }

    .popup button {
        width: 50%;
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 5px 5px;
        background: #6fd649;
        color: #fff;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);


    }





    /* ---------------------------------------------------------------right--------------------------------------------------------- */




    .right_contact p {
        width: 90vw;
        font-size: 1rem;
        text-align: center;
    }

    .right_contact {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 85vw;
        height: 50vh;
        /* border: 2px solid white; */
        justify-content: center;
        align-items: center;
        left: -33vw;
    }


    #right div {
        margin: 20px;
    }

    #take_name {
        color: white;
        font-size: 15px;
        font-weight: 700;
        width: 200px;
        height: 30px;
        background-color: #262626;
    }

    #take_email {
        font-size: 15px;
        font-weight: 700;
        color: white;
        width: 200px;
        height: 30px;
        background-color: #262626;

    }

    #take_text {
        font-size: 15px;
        font-weight: 700;
        color: white;
        width: 200px;
        height: 100px;
        background-color: #262626;


    }

    .right_contact .button {
        width: 30vw;
        height: 4.5vh;
        margin: auto;

    }

    #myfooter {
        /* bottom: 0%; */
        /* visibility: hidden;     */
        width: 115vw;
        height: 35px;
        /* background-color: #392028; */

    }

    #myfooter p {
        position: relative;
        margin-left: -12vw;
        margin-bottom: 15vh;
        font-size: 0.9rem;
        width: 300px;
    }

    #msg {
        color: #61b752;
        margin-top: -10px;
        margin-left: 30px;
        font-size: 2rem;
        display: block;
    }


}
